footer {
    background-color: #d1d1d1;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    bottom: 0px;
    top: auto;
    width: auto;
}

footer p {
    margin: 5px 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
