header {
    display: flex;
    align-items: center;
    margin-top: 0;
    justify-content: space-between;
    background-color: #dcdcdc;
    padding: 15px 30px;
}

header img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
