header {
    display: flex;
    align-items: center;
    margin-top: 0;
    justify-content: space-between;
    background-color: #dcdcdc;
    padding: 15px 30px;
}

header img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

nav ul li a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

nav ul li a:hover {
    text-decoration: underline;
}