body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5f6f7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.form-box {
    flex: 1;
    width: 100%;
    max-width: 1250px;
    margin: 40px auto;
    padding: 60px;
    background: #fff;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.form-box h1 {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}



input, select, textarea {
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #bbb;
    background: #fafafa;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

input:focus, select:focus, textarea:focus {
    border-color: #3a7afe;
    background: #fff;
    outline: none;
}

textarea {
    min-height: 100px;
    grid-column: span 3;
    resize: vertical;
}

button[type="submit"] {
    grid-column: span 4;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background: #3a7afe;
    color: #fff;
    border-radius: 6px;
    transition: 0.2s;
}

button[type="submit"]:hover {
    background: #2f66d8;
}

.form-box > button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background: #eee;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-box > button:hover {
    background: #ddd;
}


