body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}


.form-box {
    background: white;
    padding: 40px 60px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.form-box h1 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

form button,
button {
    width: 250px;
    hight: 100px;
    padding: 15px 0;
    margin: 10px 0;
    cursor: pointer;
    background-color: #82d18d;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    transition: background 0.3s, transition 0.2s;
}


.form-box button:hover {
    background-color: #96e8a2;
    transform: translateY(-2px);
}

.form-box button:focus {
    outline: none;
}